/* :root {
  --black-text-color: #212121;
  --black-heade-color: #212121;
  --white-text-color: #ffffff;
  --gray-text-color: #757575;
  --gray-background-color: #e5e5e5;
  --black-background-color: #2f303a;
  --black-logo-color: #000000;
  --white-logo-color: #ffffff;
  --blue-logo-color: #2196f3;
  --blue-batton-color: #2196f3;
  --blue-batton-modal-color: #188CE8;
  ;
  --gray-batton-color: #f5f4fa;
  --gray-heade-color: #757575;
  --white-heade-color: #ffffff;
  --blue-heade-color: #ffffff;
  --grayb-footer-color: rgba(255, 255, 255, 0.6);
  --gray-footer-color: #ffffff;
  --gray-border-color: #eeeeee;
  --gray-header-color: #ececec;
  --gray-footer-icons: rgba(255, 255, 255, 0.1);
  --gradient: linear-gradient(to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4));
  --networks-icons: #AFB1B8;
  --filter-color: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  --card-color: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  --box-shadow-btn: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  --team-color: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  ;
  --modalka: rgba(0, 0, 0, 0.2);
  --modalka-box: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  --background-cards: rgba(33, 150, 243, 0.9);
  --background-chips: rgba(47, 48, 58, 0.8);
}



body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  color: var(--gray-text-color);
  letter-spacing: 0.03em;
}

.no-scroll {
  overflow: hidden;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto; 
}
/* 
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
} */

/* .section {
  padding-top: 94px;
  padding-bottom: 94px;
} */

/* .header {
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  height: 80px;
  border-bottom: 1px solid var(--gray-header-color);
}

.header_container {
  display: flex;
  align-items: center;
}

.header-link-bottom {
  position: relative;
}

.header-link-bottom::after,
.current::after {
  position: absolute;
  content: '';
  bottom: 0;
  display: block;
  background-color: var(--blue-logo-color);
  width: 100%;
  height: 4px;
  border-radius: 2px;
  transform: scaleX(0);
  transition: transform var(--transition);
}

.header-link-bottom:hover::after,
.header-link-bottom:focus::after,
.current::after {
  transform: scaleX(1);

} */

/* .link {
  text-decoration: none;
  color: currentColor;
}

.list {
  list-style: none;
} */

/* .header .logo-link {
  margin-right: 93px;
} */

/* .footer .logo-link {
  margin-bottom: 20px;
  display: block;
}

.footer-container {
  display: flex;
  gap: 70px;
  align-items: baseline;
} */

/* .logo-link {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--blue-logo-color);
  text-decoration: none;
}

.logo-accent {
  color: var(--black-logo-color);
}

.logo-accent-whit {
  color: var(--white-logo-color);
} */

/* .nav {
  display: flex;
  align-items: center;
  color: var(--black-text-color);
} */

/* .site-nav_list {
  display: flex;
  align-items: center;
  gap: 50px;
} */

/* .nav-link,
.header .link-adress {
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  align-items: center;
  transition: color var(--transition);
} */

/* .nav-link:focus,
.nav-link:hover,
.current {
  color: var(--blue-logo-color);

} */

/* .container-nav {
  display: flex;
} */

/* .container-adress {
  display: flex;
}

.adress {
  font-style: inherit;
  color: var(--grayb-footer-color);
}

.site-adress {
  display: flex;
  gap: 50px;
  margin-left: auto;
}

.link-adress {
  transition: color var(--transition);

}

.link-adress:hover,
.link-adress:focus {
  color: var(--blue-logo-color);
}

.mail-icons {
  height: 12px;
  width: 16px;
}

.tel-icons {
  height: 16px;
  width: 10px;
}

.site-adress .icons {
  fill: currentColor;
  align-self: center;
  margin-right: 10px;
} */

/* .pluses {
  display: flex;
  border-radius: 4px;
  height: 120px;
  background-color: var(--gray-batton-color);
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
}

.pluses .icons {
  width: 70px;
  height: 70px;
} */

/* .contacts-footer {
  display: flex;
  flex-direction: column;
  gap: 9px;
} */


/* .card-set {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.card-item {
  margin-left: 30px;
  margin-top: 30px;
} */

/* .benefits-list>.benefits-list-item {
  flex-basis: calc(100% / 4 - 30px);
} */


/* .benefits-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--black-text-color);
  text-transform: uppercase;
  margin-bottom: 10px;
} */


/* .footer {
  background-color: var(--black-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-follow {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--white-heade-color);
}

.footer .networks-link .link {
  color: var(--white-heade-color);
  background-color: var(--gray-footer-icons);
} */
 
/* .hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background: var(--black-background-color);
  max-width: 1600px;
  background-image: var(--gradient), url(../images3/team.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-left: auto;
  margin-right: auto; */




/* .hero-title {
  max-width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-text-color);
  margin-bottom: 30px;
} */

/* .hero-batton {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.86;
  color: var(--white-text-color);
  cursor: pointer;
  background-color: var(--blue-batton-color);
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  letter-spacing: 0.06em;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px 32px;
  min-width: 200px;
  justify-content: center;
  transition: background-color var(--transition);
} */


/* .hero-batton:hover,
.hero-batton:focus {
  background-color: var(--blue-batton-modal-color);

} */

/* .main-batton {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  color: var(--black-text-color);
  cursor: pointer;
  background-color: var(--gray-batton-color);
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  align-items: center;
  text-align: center;
  transition: color var(--transition), background-color var(--transition), box-shadow var(--transition);
} */

/* .main-batton:hover,
.main-batton:focus,
.all {
  background-color: var(--blue-batton-color);
  color: var(--white-text-color);
  box-shadow: var(--box-shadow-btn);

} */

/* .list-battom {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
} */

/* .about {
  padding-top: 0;
} */

/* .section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black-text-color);
  margin-top: 0px;
  margin-bottom: 50px;
} */

/* .networks-list {
  display: flex;
  fill: currentColor;



}

.networks-link .link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--networks-icons);
  background-color: var(--gray-footer-icons);
  border-radius: 50%;
  height: 44px;
  width: 44px;
  transition: color var(--transition), background-color var(--transition);
}

.networks-list .networks-link:not(:last-child),
.footer-networks-list .networks-link:not(:last-child) {
  margin-right: 10px;
}

.networks-link .link:hover,
.networks-link .link:focus {
  color: var(--white-logo-color);
  background-color: var(--blue-batton-color);

} */

/* .client-item .link {
  display: flex;
  align-self: center;
  justify-content: center;
  color: var(--networks-icons);
  border: 1px solid currentColor;
  padding: 16px 30px;
  border-radius: 4px;
  transition: color var(--transition), border var(--transition);
}

.Ñlient-list {
  flex-basis: calc(100% / 6 - 30px);
}

.client-icons,
.networks-icons {
  fill: currentColor;

}

.client-item .link:hover,
.client-item .link:focus {
  color: var(--blue-batton-color);

} */

/* .networks{
  padding: 30px;
} */
/* 
.team-item {
  border-radius: 0px 0px 4px 4px;
  flex-basis: calc(100% / 4 - 30px);
  box-shadow: var(--team-color);
} */


/* .abaut-item {
  flex-basis: calc(100% / 3 - 30px);
  position: relative;

}

.chips-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 27px;
  background-color: var(--background-chips);
}

.chips-text-overlay {
  font-weight: 700;
  line-height: 1.17;
  text-transform: uppercase;
  color: var(--white-text-color);
  text-align: center;
  margin-left: auto;
  margin-right: auto;} */


/* .networks-title {
  font-weight: 500;
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
} */

/* .our-team {
  background-color: var(--gray-batton-color);
}

.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.17;
  text-align: center;
  color: var(--gray-text-color);
  margin-bottom: 16px;
}

.team-list {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.17;
  text-align: center;
  color: var(--gray-text-color);
} */

/* .text-gray {
  color: var(--gray-text-color);
}

.text-white {
  color: var(--white-text-color);
}

.text-black {
  color: var(--black-text-color);
} */

/* .tem-title-team {
  font-size: 16px;
  line-height: 1.19;
  color: var(--black-text-color);
} */

/* .services-list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
  justify-content: space-between;
}

.shove {
  display: none;
}

.services-list>.item-services {
  flex-basis: calc(100% / 3 - 30px);
}



.link-services {
  display: block;
  transition: box-shadow var(--transition);
}

.cards {
  position: relative;
  overflow: hidden;
}

.cards-overlay {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: var(--white-heade-color);
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  background-color: var(--background-cards);
  transform: translateY(100%);
  transition: transform var(--transition), opacity var(--transition);


}

.link-services:hover .cards-overlay,
.link-services:focus .cards-overlay {
  transform: translatey(0);
  opacity: 1;
}


.link-services:hover,
.link-services:focus {
  box-shadow: var(--card-color);
}

.services-wrapper {
  padding: 20px 24px;
  border: 1px solid var(--gray-border-color);
} */

/* .title-services {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--black-text-color);
  margin-bottom: 4px;
} */

/* .trait {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  color: var(--gray-text-color);
} */

/* .backdrop {
  position: fixed;
  background-color: var(--modalka);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 1;
  transition: opacity var(--transition);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
} */

/* .modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 528px;
  min-height: 581px;
  background-color: var(--white-heade-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--transition);
} */

/* .button-close-modal {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--white-logo-color);
  cursor: pointer;
  align-items: center;
  justify-content: center;
  transition: fill var(--transition);

} */


/* .button-close-modal:hover,
.button-close-modal:focus {
  fill: var(--blue-batton-modal-color);
} */

.batton-close:hover+.button-close-modal,
.batton-close:focus+.button-close-modal {
  fill: var(--blue-batton-modal-color);
}


/* .form-modal {
  display: flex;
  flex-direction: column;

} */

/* .label-modal {
  font-size: 12px;
  margin-bottom: 4px;
  line-height: 1, 17;
  letter-spacing: 0.01em;

}

.form-field {
  position: relative;
  margin-bottom: 10px;

} */


/* .input-modal {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: border var(--transition);
  cursor: pointer;
}

.input-modal:hover,
.input-modal:focus {
  border: 1px solid var(--blue-batton-color);

}

.input-modal:hover+.icons-modal,
.input-modal:focus+.icons-modal {
  fill: var(--blue-batton-color);


}


.form-field:focus-within .input-modal,
.form-field:hover .input-modal {
  fill: var(--blue-batton-color)
} */


/* .modal-title {
  margin-bottom: 12px;
  font-size: 20px;
  letter-spacing: 0.03em;
  line-height: 1.17;
  text-align: center;
  color: var(--black-heade-color);



} */

/* .icons-modal {
  position: absolute;
  left: 12px;
  bottom: 50%;
  transform: translateY(50%);
  fill: var(--black-heade-color);
  transition: fill var(--transition);
}


.icons-modal:hover,
.icons-modal:focus {
  fill: var(--blue-batton-color);
} */


/* .check-box {
  display: flex;
  justify-content: center;



} */


/* .register-form-off {
  opacity: 0;

}

.register-form {
  opacity: 1;
  transition: var(--transition);


}

.register-form-icons {
  margin-right: 8px;

}

.register-checkbox:checked+.register-form-icons .register-form {
  opacity: 0;
}

.register-checkbox:checked+.register-form-of .register-form {
  opacity: 1;
}
 */

/* .label-check {
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  margin-bottom: 43px;
} */

/* .link-modal {
  color: var(--blue-batton-color);
} */

/* .hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;

} */

/* .text-modal {
  height: 120px;
  resize: none;
  margin-bottom: 20px;
  padding: 12px 16px;
}

.text-modal::placeholder {
  color: rgba(117, 117, 117, 0.5);
  letter-spacing: 0.01em;

} */

/* .container-footer {
  display: flex;
  align-items: flex-end;
  justify-content: center;

}

.footer-form {
  display: flex;
  align-items: flex-end;


}

.footer-content:last-child {
  margin-left: auto;
}

.footer-label {
  display: flex;
  flex-direction: column;

}

.footer-input {
  width: 358px;
  border-radius: 4px;
  padding: 15px 16px;
  margin-right: 12px;
  background-color: transparent;
  color: var(--white-text-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15)); }*/




/* .icon-button {
  margin-left: 10px;

} */