.abaut-item {
    flex-basis: calc(100% / 3 - 30px);
    position: relative;

}

.chips-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 27px;
    background-color: var(--background-chips);
}

.chips-text-overlay {

    color: var(--white-text-color);
    text-align: center;
   
}