.hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background: var(--black-background-color);
    max-width: 1600px;
    background-image: var(--gradient), url(../images3/team.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
}

.hero-title {
    max-width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-text-color);
    margin-bottom: 30px;
}