.team {
    background-color: var(--gray-batton-color);
}
.tem-title-team {
    font-size: 16px;
    line-height: 1.19;
    color: var(--black-text-color);
}

.team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.17;
    text-align: center;
    color: var(--gray-text-color);
    margin-bottom: 16px;
}

.team_list {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.17;
    text-align: center;
    color: var(--gray-text-color);
}

.team_item {
    border-radius: 0px 0px 4px 4px;
    flex-basis: calc(100% / 4 - 30px);
    box-shadow: var(--team-color);
}
.about {
    padding-top: 0;
}