.logo-link {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--blue-logo-color);
    text-decoration: none;
}

.logo-accent {
    color: var(--black-logo-color);
}

.logo-accent-whit {
    color: var(--white-logo-color);
}