.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--black-text-color);
    margin-top: 0px;
    margin-bottom: 50px;
}
.title-services {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    color: var(--black-text-color);
    margin-bottom: 4px;
}